<img src="DTS_9605.jpg" width="200px" height="200px"></img>
<h1>Jakub Kięczkowski</h1>
<h3>Frontend Trainee</h3>
<p>
    Mam na imię Jakub.
    Stawiam pierwsze kroki w kodowaniu.
    Z wykształcenia jestem leśnikiem, pierwe doświadczenie zdobywałem w Lasch Państwowych.
    Następnie przez dwa lata poznawałem funkcjonowanie komórki administracyjnej zajmującej
    się ochroną przyrody.
    Moją motywacją do zdobywania wiedzy programistycznej jest nieograniczona zdolność rozwoju 
    a celem stać się częścią ciekawego projektu. Fronted sprawia mi wiele frajdy i daje poczucie
    spełnienia dzięki możliwości tworzenia poprzez wyrażanie siebie.
</p>
<h2>Doświadczenie zawodowe</h2>
<ul>
    <li>2020 staż Lasy Państwowe</li>
    <li>2021-2022 Wydział Zadrzewień i Ochrony Gatunkowej RDOŚ Gdańsk</li>
    <li>2022-obecnie Wydział obszarów chronionych RDOŚ Gdańsk</li>
</ul>
<h2>Wykształcenie</h2>
<ul>
    <li></li>
    <li>2021-2022 Wydział Zadrzewień i Ochrony Gatunkowej RDOŚ Gdańsk</li>
</ul>
<h2>Wykształcenie</h2>
